<div>
	<!-- Conteúdo do Dropdown -->
	<div class="jogos-expand-container">
		<div class="jogos-expand-plataforms">
			<app-option
				plataformIcon="{{ ps5Icon }}"
				plataform="{{ 'Console' }}"
			></app-option>
			<app-option
				plataformIcon="{{ ps4Icon }}"
				plataform="{{ 'Jogos' }}"
			></app-option>
			<app-option
				plataformIcon="{{ psVr2Icon }}"
				plataform="{{ 'Controles' }}"
			></app-option>
			<app-option
				plataformIcon="{{ pcIcon }}"
				plataform="{{ 'PC' }}"
			></app-option>
			<app-option
				plataformIcon="{{ psPlusIcon }}"
				plataform="{{ 'PS VR2' }}"
			></app-option>
			<app-option
				plataformIcon="{{ psPlusIcon }}"
				plataform="{{ 'Headsets' }}"
			></app-option>
		</div>
	</div>
</div>
