<div class="home-container">
	<div class="banner-container">
		<img
			src="../../../assets/img/bg-first-oferta.png"
			alt="ofertas"
			class="banner-bg"
		/>
		<div class="banner-texts">
			<div class="texts-container">
				<div class="texts">
					<h2>Ofertas de fim de ano</h2>
					<p>Termine o ano poupando em uma gama de jogos incríveis</p>
				</div>
				<div>
					<button class="banner-texts-button" type="button">
						Economize Já
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
