<div class="plataform-container">
	<!-- aqui vou ter outro component -->
	<!-- ABA JOGOS -->
	<app-option
		href=""
		plataformIcon="{{ ps5Icon }}"
		plataform="{{ 'PS5' }}"
	></app-option>
	<app-option
		plataformIcon="{{ ps4Icon }}"
		plataform="{{ 'PS4' }}"
	></app-option>
	<app-option
		plataformIcon="{{ psVr2Icon }}"
		plataform="{{ 'PS VR2' }}"
	></app-option>
	<app-option plataformIcon="{{ pcIcon }}" plataform="{{ 'PC' }}"></app-option>
	<app-option
		plataformIcon="{{ psPlusIcon }}"
		plataform="{{ 'PS Plus' }}"
	></app-option>
</div>
