<div class="dropdowns-container">
	<div class="list-container">
		<button class="list-item" (click)="expand()">Jogos</button>
	</div>
	<div class="jogos-expand" *ngIf="isExpanded">
		<div class="jogos-expand-container">
			<div class="jogos-expand-plataforms">
				<div>PS5</div>
				<div>PS4</div>
				<div>PS VR2</div>
				<div>PC</div>
				<div>PS Plus</div>
			</div>
			<hr />
			<div class="jogos-expand-footer">
				<span>Playstation Indies</span>
				<span>Jogos para PS4 no PS5</span>
				<span>Grátis para jogar</span>
				<span>Ofertas e promoções</span>
			</div>
		</div>
	</div>
</div>
<app-second-menu></app-second-menu>
