.list-container {
	display: flex;
	height: 50px;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0px 30px;
	background-color: white;
	z-index: 10;
}

.list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70px;
	cursor: pointer;
	color: #999999;
}

.list-item::after {
	display: inline;
	content: url("../../../assets/img/arrow.svg");
	height: 20px;
	padding: 2px;
	width: 25px;
}

.list-item-2 {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70px;
	cursor: pointer;
	color: #999999;
}

.list-item-2::after {
	display: inline;
	content: url("../../../assets/img/arrow.svg");
	height: 20px;
	padding: 2px;
	width: 25px;
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.jogos-expand {
	position: relative;
	z-index: 999;
}

.jogos-expand-container {
	width: 100%;
	position: absolute;
	background-color: white;
}
