<div class="dropdowns-container">
	<div class="list-container">
		<!-- Opção JOGOS -->
		<app-nav-options
			title="{{ 'Jogos' }}"
			(click)="toggleDropDown($event)"
		></app-nav-options>

		<!-- Opção PS5 -->

		<app-nav-options
			title="{{ 'PS5' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>
	</div>
	<div>
		<!-- COMENTÁRIO SOBRE UM ANTIGO PROBLEMA
			Tinha um problema aqui, se eu colasse o ngIf AQUI e DENTRO DESTE COMPONENT, ele não renderizava o input
		E também não havia motivos para ter dois deles, só no component "paizao" já é o suficiente
		-->

		<!-- dropdown de jogos -->
		<app-dropdown *ngIf="jogosDropdown" [@dropdownAnimation]> </app-dropdown>

		<!-- Dropdown do PS5 -->
		<app-dropdown-ps5
			*ngIf="ps5Dropdown"
			[@dropdownAnimation]
		></app-dropdown-ps5>
	</div>
</div>

<app-second-menu></app-second-menu>
