<div class="dropdowns-container">
	<div class="list-container">
		<!-- LOGO PLAYSTATION -->

		<img
			class="playstation-logo"
			src="{{playstationLogo}}"
			alt="playstation-logo"
		/>

		<!-- Opção JOGOS -->
		<app-nav-options
			title="{{ 'Jogos' }}"
			(click)="toggleDropDown($event)"
		></app-nav-options>

		<!-- Opção PS5 -->

		<app-nav-options
			title="{{ 'PS5' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- Opção PS4 -->
		<app-nav-options
			title="{{ 'PS4' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- OPÇÃO SERVIÇOS -->
		<app-nav-options
			title="{{ 'Serviços' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- OPÇÃO ACESSÓRIOS -->
		<app-nav-options
			title="{{ 'Acessórios' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- OPÇÃO NOTICIAS -->
		<app-nav-options
			title="{{ 'Notícias' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- OPÇÃO LOJA -->
		<app-nav-options
			title="{{ 'Loja' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>

		<!-- OPÇÃO SUPORTE -->
		<app-nav-options
			title="{{ 'Suporte' }}"
			(click)="toggleDropdownPs5($event)"
		></app-nav-options>
	</div>
	<div>
		<!-- COMENTÁRIO SOBRE UM ANTIGO PROBLEMA
			Tinha um problema aqui, se eu colasse o ngIf AQUI e DENTRO DESTE COMPONENT, ele não renderizava o input
		E também não havia motivos para ter dois deles, só no component "paizao" já é o suficiente
		-->

		<!-- dropdown de jogos -->
		<app-dropdown *ngIf="jogosDropdown" [@dropdownAnimation]> </app-dropdown>

		<!-- Dropdown do PS5 -->
		<app-dropdown-ps5
			*ngIf="ps5Dropdown"
			[@dropdownAnimation]
		></app-dropdown-ps5>
	</div>
</div>

<app-second-menu></app-second-menu>
